Repository forgebyd/arcanx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome.lint, pnpm biome.format, pnpm prettier.format, bash -c 'pnpm typecheck'

.lintstagedrc:

{
  "*.{js,ts}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{json,jsonc}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{yaml,yml}": ["pnpm prettier.format"],
  "*.*rc": ["pnpm prettier.format"],
  "*.md": ["pnpm prettier.format"],
  "*.ts": ["bash -c 'pnpm typecheck'"]
}

chore(package/utilities): add changeset :bookmark:
  .changeset/young-teeth-heal.md
Due: pnpm prettier.format

refactor(package/utilities): add arg checking for each fn in error helper :recycle:
  packages/utilities/source/helpers/error.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

refactor(package/utilities): use custom error creator on result helper :recycle:
  packages/utilities/source/helpers/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

chore(package/utilities): add vitest configuration file :wrench:
  packages/utilities/vitest.config.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

test(package/utilities): add test file for error helper :white_check_mark:
  packages/utilities/test/helpers/error.spec.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

test(package/utilities): add test file for result helper :white_check_mark:
  packages/utilities/test/helpers/result.spec.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

test(package/utilities): commit generated test's snapshots :camera_flash:
  packages/utilities/test/helpers/__snapshots__/error.spec.ts.snap
  packages/utilities/test/helpers/__snapshots__/result.spec.ts.snap
Due: none

chore: update tsconfig.json to include paths :wrench:
  tsconfig.json
Due: pnpm biome.lint, pnpm biome.format

chore: add changelog files for types and utilities :bookmark:
  .changeset/young-teeth-heal.md
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

feat: merge back to main to keep development and main in sync (#4)
  packages/types/source/types/renderer/helper.ts
  packages/types/source/types/renderer/partial.ts
  packages/types/source/types/renderer/template.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'
