Repository forgebyd/arcanx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome.lint, pnpm biome.format, pnpm prettier.format, bash -c 'pnpm typecheck'

.lintstagedrc:

{
  "*.{js,ts}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{json,jsonc}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{yaml,yml}": ["pnpm prettier.format"],
  "*.*rc": ["pnpm prettier.format"],
  "*.md": ["pnpm prettier.format"],
  "*.ts": ["bash -c 'pnpm typecheck'"]
}

chore(package/types): add changeset for @arcanx/types v0.1.0 :bookmark:
  .changeset/new-comics-write.md
Due: pnpm prettier.format

feat: introduce @arcanx/types package ✨ (#1)
  .changeset/new-comics-write.md
  knip.json
  packages/types/package.json
  packages/types/source/index.ts
  packages/types/source/types/core/context-env.ts
  packages/types/source/types/core/context-io.ts
  packages/types/source/types/core/context-resource.ts
  packages/types/source/types/core/context-runtime.ts
  packages/types/source/types/core/context.ts
  packages/types/source/types/core/index.ts
  packages/types/source/types/loader/action.ts
  packages/types/source/types/loader/config-hook.ts
  packages/types/source/types/loader/config-strategy.ts
  packages/types/source/types/loader/config.ts
  packages/types/source/types/loader/generator-action.ts
  packages/types/source/types/loader/generator-prompt.ts
  packages/types/source/types/loader/generator.ts
  packages/types/source/types/loader/index.ts
  packages/types/source/types/renderer/engine.ts
  packages/types/source/types/renderer/helper.ts
  packages/types/source/types/renderer/index.ts
  packages/types/source/types/renderer/partial.ts
  packages/types/source/types/renderer/template.ts
  packages/types/source/types/runner/artifact.ts
  packages/types/source/types/runner/index.ts
  packages/types/source/types/runner/plan.ts
  packages/types/source/types/runner/report.ts
  packages/types/source/types/runner/result.ts
  packages/types/source/types/utilities/cache.ts
  packages/types/source/types/utilities/error.ts
  packages/types/source/types/utilities/filesystem.ts
  packages/types/source/types/utilities/helper.ts
  packages/types/source/types/utilities/log.ts
  packages/types/source/types/utilities/path.ts
  packages/types/source/types/utilities/result.ts
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format, bash -c 'pnpm typecheck'

chore: update versioning documentation :bookmark:
  .changeset/new-comics-write.md
Due: pnpm prettier.format

feat: add changelog and update @arcanx/types version :bookmark:
  .changeset/new-comics-write.md
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

chore: update package.json additional informations :hammer:
  package.json
  packages/types/package.json
Due: pnpm biome.lint, pnpm biome.format

chore(package/utilities): lay the groundwork :tada:
  packages/utilities/README.md
Due: pnpm prettier.format

chore(package/utilities): add license file :page_facing_up:
  packages/utilities/LICENSE.md
Due: pnpm prettier.format

chore(package/utilities): add typescript configuration file :wrench:
  packages/utilities/tsconfig.json
Due: pnpm biome.lint, pnpm biome.format

chore(package/utilities): add tsdown configuration file :wrench:
  packages/utilities/tsdown.config.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build(package/types): add initial package.json file :hammer:
  packages/utilities/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

feat(package/utilities): add initial index.ts file :sparkles:
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build(package/utilities): remove unused devDependencies for now :heavy_minus_sign:
  packages/utilities/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

build(package/utilities): add some required dependencies :heavy_plus_sign:
  packages/utilities/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

feat(package/utilities): introduce result helper :sparkles:
  packages/utilities/source/helpers/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): introduce error helper :sparkles:
  packages/utilities/source/consts/error.ts
  packages/utilities/source/helpers/error.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): export error and result helpers and consts :sparkles:
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

fix(package/types): add unexported files to index.ts :bug:
  packages/types/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): introduce filesystem helper :sparkles:
  packages/utilities/source/helpers/filesystem.ts
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): introduce path helper :sparkles:
  packages/utilities/source/helpers/path.ts
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build(package/utilities): install debug and supports-color :heavy_plus_sign:
  packages/utilities/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

feat(package/utilities): introduce log helper :sparkles:
  packages/utilities/source/helpers/log.ts
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): introduce string helper :sparkles:
  packages/utilities/source/helpers/string.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): introduce object helper :sparkles:
  packages/utilities/package.json
  packages/utilities/source/helpers/object.ts
  packages/utilities/source/index.ts
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format, bash -c 'pnpm typecheck'

fix(package/utilities): add unexported string helper from index.ts :bug:
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

chore: add supports-color to ignored deps :recycle:
  knip.json
Due: pnpm biome.lint, pnpm biome.format

feat(package/utilities): introduce time helper :sparkles:
  packages/utilities/source/helpers/time.ts
  packages/utilities/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/utilities): add createId function to string helper :sparkles:
  packages/utilities/source/helpers/string.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

chore(package/types): edit some documentation comments :bulb:
  packages/types/source/types/core/context-env.ts
  packages/types/source/types/core/context-io.ts
  packages/types/source/types/core/context-resource.ts
  packages/types/source/types/core/context-runtime.ts
  packages/types/source/types/core/context.ts
  packages/types/source/types/loader/action.ts
  packages/types/source/types/loader/config-hook.ts
  packages/types/source/types/loader/config-strategy.ts
  packages/types/source/types/loader/config.ts
  packages/types/source/types/loader/generator-action.ts
  packages/types/source/types/loader/generator-prompt.ts
  packages/types/source/types/loader/generator.ts
  packages/types/source/types/renderer/engine.ts
  packages/types/source/types/renderer/helper.ts
  packages/types/source/types/renderer/partial.ts
  packages/types/source/types/renderer/template.ts
  packages/types/source/types/runner/artifact.ts
  packages/types/source/types/runner/plan.ts
  packages/types/source/types/runner/report.ts
  packages/types/source/types/runner/result.ts
  packages/types/source/types/utilities/cache.ts
  packages/types/source/types/utilities/error.ts
  packages/types/source/types/utilities/helper.ts
  packages/types/source/types/utilities/path.ts
  packages/types/source/types/utilities/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build: install vitest and vitest/coverage-v8 :heavy_plus_sign:
  package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

chore: add vitest configuration file :wrench:
  vitest.config.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

fix(package/utilities): fix async callback checking in attemptAsync :bug:
  packages/utilities/source/helpers/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

chore: add test scripts to package.json file :hammer:
  package.json
Due: pnpm biome.lint, pnpm biome.format

test(package/utilities): add result testing :white_check_mark:
  packages/utilities/test/helpers/result.spec.ts
  packages/utilities/vitest.config.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

chore: add execution of test script to pre-push hook :wrench:
  .husky/pre-push
Due: none

refactor(package/types): refactor result types :recycle:
  packages/types/source/types/utilities/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

test(package/utilities): update test file for result helper :white_check_mark:
  packages/utilities/test/helpers/result.spec.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

fix(package/utilities): add await to result test file to resolve hanging promise :bug:
  packages/utilities/test/helpers/result.spec.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

test(package/utilities): add path testing :white_check_mark:
  packages/utilities/test/helpers/path.spec.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

chore: update test script to use tree reporter :hammer:
  package.json
Due: pnpm biome.lint, pnpm biome.format

test(package/utilities): removing unnecessary tests for utility :heavy_minus_sign:
  packages/utilities/test/helpers/path.spec.ts
  packages/utilities/test/helpers/result.spec.ts
  packages/utilities/vitest.config.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'
