Repository forgebyd/arcanx: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome.lint, pnpm biome.format, pnpm prettier.format, bash -c 'pnpm typecheck'

.lintstagedrc:

{
  "*.{js,ts}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{json,jsonc}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{yaml,yml}": ["pnpm prettier.format"],
  "*.*rc": ["pnpm prettier.format"],
  "*.md": ["pnpm prettier.format"],
  "*.ts": ["bash -c 'pnpm typecheck'"]
}

build: install knip for deps linting :package:
  package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

chore: add knip configuration file :wrench:
  knip.json
  package.json
Due: pnpm biome.lint, pnpm biome.format

ci: add husky git hook scripts :hammer:
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

ci: add pull-request-title linting action :construction_worker:
  .github/workflows/pull-request-title.yml
Due: pnpm prettier.format

ci: add pull-request-label action :construction_worker:
  .github/labeler.yml
  .github/workflows/pull-request-label.yml
Due: pnpm prettier.format

ci: add push action :construction_worker:
  .github/workflows/push.yml
Due: pnpm prettier.format

build: install changesets for versioning :heavy_plus_sign:
  package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

chore: initialize and configure changeset :wrench:
  .changeset/README.md
  .changeset/config.json
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

chore(package/types): lay the groundwork :tada:
  packages/types/README.md
Due: pnpm prettier.format

chore(package/types): add license file :page_facing_up:
  packages/types/LICENSE.md
Due: pnpm prettier.format

chore: add type 'module' and some scripts to package.json :hammer:
  package.json
Due: pnpm biome.lint, pnpm biome.format

chore: add workspace configuration for pnpm :building_construction:
  pnpm-workspace.yaml
Due: pnpm prettier.format

build: install tsx for running typescript :heavy_plus_sign:
  package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

chore(package/types): add initial package.json file :hammer:
  packages/types/package.json
Due: pnpm biome.lint, pnpm biome.format

chore(package/types): add typescript configuration file :wrench:
  packages/types/tsconfig.json
Due: pnpm biome.lint, pnpm biome.format

chore(package/types): add tsdown configuration file :wrench:
  packages/types/tsdown.config.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add initial file for @arcanx/types :tada:
  packages/types/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build(package/types): install type-fest package for types helper :heavy_plus_sign:
  packages/types/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

feat(package/types): introduce result types helper :sparkles:
  packages/types/source/types/utilities/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): introduce error types helper :sparkles:
  packages/types/source/types/utilities/error.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add path types helper utility :sparkles:
  packages/types/source/types/utilities/path.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add helper types helper utility :sparkles:
  packages/types/source/types/utilities/helper.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): introduce renderer types :sparkles:
  packages/types/source/types/renderer/engine.ts
  packages/types/source/types/renderer/helper.ts
  packages/types/source/types/renderer/index.ts
  packages/types/source/types/renderer/partial.ts
  packages/types/source/types/renderer/template.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): update exported from entry file :label:
  packages/types/source/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add metadata property to resolved types in renderer :sparkles:
  packages/types/source/types/renderer/helper.ts
  packages/types/source/types/renderer/partial.ts
  packages/types/source/types/renderer/template.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add id and timestamp types helper :sparkles:
  packages/types/source/types/utilities/helper.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add cache types file utility :sparkles:
  packages/types/source/types/utilities/cache.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): introduce loader types :sparkles:
  packages/types/source/types/loader/config-hook.ts
  packages/types/source/types/loader/config-strategy.ts
  packages/types/source/types/loader/config.ts
  packages/types/source/types/loader/generator-action.ts
  packages/types/source/types/loader/generator-prompt.ts
  packages/types/source/types/loader/generator.ts
  packages/types/source/types/loader/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): introduce runner types :sparkles:
  packages/types/source/types/runner/artifact.ts
  packages/types/source/types/runner/index.ts
  packages/types/source/types/runner/plan.ts
  packages/types/source/types/runner/report.ts
  packages/types/source/types/runner/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build(package/types): install @types/debug types definition :heavy_plus_sign:
  packages/types/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

feat(package/types): add filesystem and log helpers type utility :sparkles:
  packages/types/source/types/utilities/filesystem.ts
  packages/types/source/types/utilities/log.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

refactor(package/types): remove unnecessary properties from types :recycle:
  packages/types/source/types/runner/artifact.ts
  packages/types/source/types/runner/plan.ts
  packages/types/source/types/runner/report.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

refactor(package/types): fix types for onAppliedHook type :recycle:
  packages/types/source/types/loader/config-hook.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): introduce core types :sparkles:
  packages/types/source/index.ts
  packages/types/source/types/core/context-env.ts
  packages/types/source/types/core/context-io.ts
  packages/types/source/types/core/context-resource.ts
  packages/types/source/types/core/context-runtime.ts
  packages/types/source/types/core/context.ts
  packages/types/source/types/core/index.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

build(package/types): move @types/debug from dependencies into devDependencies :heavy_minus_sign:
  packages/types/package.json
  pnpm-lock.yaml
Due: pnpm biome.lint, pnpm biome.format, pnpm prettier.format

build: redefine rulesets for knip to ignore exports error :wrench:
  knip.json
Due: pnpm biome.lint, pnpm biome.format

refactor(package/types): modify some properties and add documentation for runner :bulb:
  packages/types/source/types/runner/artifact.ts
  packages/types/source/types/runner/plan.ts
  packages/types/source/types/runner/report.ts
  packages/types/source/types/runner/result.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

refactor(package/types): modify some properties and add documentation for loader :bulb:
  packages/types/source/types/loader/config-hook.ts
  packages/types/source/types/loader/config-strategy.ts
  packages/types/source/types/loader/config.ts
  packages/types/source/types/loader/generator-action.ts
  packages/types/source/types/loader/generator-prompt.ts
  packages/types/source/types/loader/generator.ts
  packages/types/source/types/runner/report.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

refactor(package/types): add documentation for core :bulb:
  packages/types/source/types/core/context-env.ts
  packages/types/source/types/core/context-io.ts
  packages/types/source/types/core/context-resource.ts
  packages/types/source/types/core/context-runtime.ts
  packages/types/source/types/core/context.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'

feat(package/types): add action resource types :sparkles:
  packages/types/source/types/core/context-resource.ts
  packages/types/source/types/loader/action.ts
Due: pnpm biome.lint, pnpm biome.format, bash -c 'pnpm typecheck'
